<h1 style="color: #000000;">PRODUCTS</h1>
<div>
  <mat-tab-group name="f" ngModel #status="ngModel" >
    <mat-tab label="LISTE DES PRODUITS">

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/hommes.jpg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">choose your favorite shoe</h1>
            <div class="left">
              <input type="number" placeholder="enter quantity" [(ngModel)]="qte1" name="QTE1" [disabled]="qte1Entered"
              >
              <br>
              <p>prix = 200 </p>
              <mat-radio-button (change)="send($event)" value="Selectionner1">Selectionner</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>









<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/femmes.jpg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">choose your favorite shoe</h1>

            <div class="left">
              <input type="number" placeholder="enter quantity" [(ngModel)]="qte2" name="QTE2" [disabled]="qte2Entered"
              >
              <br>
              <p>prix = 150 </p>
              <mat-radio-button (change)="send($event)" value="Selectionner2">Selectionner</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>






<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/ado.jpg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">choose your favorite shoe</h1>

            <div class="left">
              <input type="number" placeholder="enter quantity" [(ngModel)]="qte3" name="QTE3" [disabled]="qte3Entered"
              >
              <br>
              <p>prix = 300 </p>
              <mat-radio-button (change)="send($event)" value="Selectionner3">Selectionner</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>





<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/unisex.jpg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">choose your favorite shoe</h1>

            <div class="left">
              <input type="number" placeholder="enter quantity" [(ngModel)]="qte4"  name="QTE4" [disabled]="qte4Entered"
              >
              <br>
              <p>prix = 200</p>
              <mat-radio-button (change)="send($event)" value="Selectionner4">Selectionner</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/enfant.jpg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">choose your favorite shoe</h1>

            <div class="left">
              <input type="number" placeholder="enter quantity" [(ngModel)]="qte5" name="QTE5" [disabled]="qte5Entered"
                >
                <p>prix = 250</p>
                <mat-radio-button (change)="send($event)" value="Selectionner5">Selectionner</mat-radio-button>
              </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>

</mat-tab>
</mat-tab-group>
</div>
