



<!-- ======= About-us Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>About us</h1>
        <h2>Notre application Jabak-Lah est une plateforme en ligne qui offre des services bancaires sécurisés et pratiques. En plus de cela, nous proposons également des services de livraison rapides et fiables.
        </h2>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/images/about-us.jpg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End about-us -->
  <!-- ======= teams Section ======= -->
<section id="clients" class="clients section-bg">
  <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-2 col-sm-2 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/images/sanaa.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Boualila Sanaa</h5><span class="small text-uppercase text-muted">Developer</span>

          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-2 col-sm-2 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/images/moamina.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Fayad Moamuna</h5><span class="small text-uppercase text-muted">Developer</span>

          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-2 col-sm-2 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/images/khaoula.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Amimi Khaoula</h5><span class="small text-uppercase text-muted">Developer</span>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->

        <div class="col-xl-2 col-sm-2 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/images/ikrame.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Ennaciri Ikrame</h5><span class="small text-uppercase text-muted">Developer</span>

          </div>
        </div>
        <!-- End-->

        <!-- Team item-->

        <div class="col-xl-2 col-sm-2 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/images/fatine.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Alla Fatine</h5><span class="small text-uppercase text-muted">Developer</span>

          </div>
        </div>
        <!-- End-->

        <!-- Team item-->

        <div class="col-xl-2 col-sm-2 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./assets/images/chaimaa.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Lekhzoumi Chaimaa</h5><span class="small text-uppercase text-muted">Developer</span>

          </div>
        </div>
        <!-- End-->

  </div>
</section><!-- End Cliens Section -->
