<h1 style="color: #000000;">PAIEMENT DE FACTURE</h1>

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/iam.jpeg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">IAM RECHARGES</h1>
            <div class="left">
              <mat-radio-button (change)="send($event)" value="TELEPHONIE ET INTERNET SIM">TELEPHONIE ET INTERNET SIM</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>









<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/iam.jpeg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">IAM FACTURES</h1>

            <div class="left">
              <mat-radio-button (change)="send($event)" value="PRODUIT INTERNET SIM">PRODUIT INTERNET SIM</mat-radio-button><br />
              <mat-radio-button (change)="send($event)" value="PRODUIT FIXE SIM">PRODUIT FIXE SIM</mat-radio-button><br />
              <mat-radio-button (change)="send($event)" value="PRODUIT MOBILE SIM">PRODUIT MOBILE SIM</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>






<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/Redal.jpeg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">REDAL</h1>

            <div class="left">
              <mat-radio-button (change)="send($event)"   value="FACTURE REDAL">FACTURE REDAL</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>





<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 text-center="text-center">  </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="section-title">
            <h2 text-center="text-center"></h2>
          </div>
          <img src="./assets/images/Amendis.jpeg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div class="php-email-form">
            <h1 style="color: #000000;">AMENDIS</h1>

            <div class="left">
              <mat-radio-button (change)="send($event)"  value="FACTURES AMENDIS">FACTURES AMENDIS</mat-radio-button>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>
<div class="section-title">
  <h2 text-center="text-center"></h2>
</div>
